@font-face {
    font-family: "titre";
    src: url("LTRemark-Regular.otf");
}

.titre{
    font-family: "titre";
    font-size: 350%
}


button{
    font-size: 16px;
    width: 250px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #ff5050;
    color: aliceblue;
    font-family: "button";
    transition-duration: 0.3s;
    box-shadow: 0 9px #999;
    cursor: pointer;
}
button:hover{
    background-color: #ff0000;
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(6px);
  }

.envoyer{
    font-size: 16px;
    height: 30px;
    border-radius: 8px;
    border: none;
    color: aliceblue;
    font-family: "button";
    transition-duration: 0.3s;
    box-shadow: 0 9px #999;
    cursor: pointer;
    background-color: #7650ff;
    width: 150px;
}
.envoyer:hover{
    background-color: #3700ff;
}
.envoyer:active{
        box-shadow: 0 5px #666;
        transform: translateY(6px);
}

.accueil{
    width: 110px;
}

p{
    font-size: 115%;
}